<p>
  <%= link_to 'Станции', admin_railway_stations_path %>
  <br>
  <%= link_to 'Поезда', admin_trains_path %>
  <br>
  <%= link_to 'Маршруты', admin_routes_path %>
  <br>
  <%= link_to 'Билеты пользователей', admin_tickets_path %>
</p>