<p>
  <strong>Название:</strong>
  <%= @railway_station.title %>
</p>

<%= link_to 'Изменить', edit_admin_railway_station_path(@railway_station), class: 'btn btn-warning' %> |
<%= link_to 'Назад', admin_railway_stations_path, class: 'btn btn-default' %>
