<tr>
  <td><%= route.name %></td>
  <td><%= link_to 'Показать', [:admin, route], class: 'btn btn-success' %></td>
  <td><%= link_to 'Изменить', edit_admin_route_path(route), class: 'btn btn-warning' %></td>
  <td><%= link_to 'Удалить', [:admin, route], class: 'btn btn-danger', method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>