<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @railways_station.title %>
</p>

<%= link_to 'Edit', edit_railways_station_path(@railways_station) %> |
<%= link_to 'Back', railways_stations_path %>
