<tr>
  <td><%= wagon_type.name %></td>
  <td><%= link_to 'Показать', wagon_type %></td>
  <td><%= link_to 'Изменить', edit_wagon_type_path(wagon_type) %></td>
  <td><%= link_to 'Удалить', wagon_type, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>