<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @wagon_type.name %>
</p>

<%= link_to 'Изменить', edit_wagon_type_path(@wagon_type) %> |
<%= link_to 'Назад', wagon_types_path %>
