<h1>Ваши билеты</h1>
<table>
  <thead>
  <tr>
    <th>Номер поезда</th>
    <th>Станция отправления</th>
    <th>Станция прибытия</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
    <%= render @tickets %>
  </tbody>
</table>