<h1>Билеты пользовтелей</h1>
<table class="table">
  <thead>
  <tr>
    <th>Пользователь</th>
    <th>Номер поезда</th>
    <th>Станция отправления</th>
    <th>Станция прибытия</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
    <%= render @tickets %>
  </tbody>
</table>