<h1>Editing Train</h1>

<%= render 'form', train: @train %>

<%= link_to 'Показать', [:admin, @train], class: 'btn btn-success' %> |
<%= link_to 'Назад', admin_trains_path, class: 'btn btn-default' %>
