<!DOCTYPE html>
<html>
  <head>
    <title>BeginnigRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br><br>
    <footer>
      &#169; 2016 Юрьев Евгений. Учебный проект в онлайн-школе <a href="http://thinknetica.com">Thinknetica</a>
    </footer>
  </body>
</html>
